<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto en Playground</title>
</head>
<body>
    <header>
        <picture>
            <img src="/img/logo-mercado-liebre.svg">
        </picture>
        <section>
            <p>Lugar para poner barra de búsqueda</p>
        </section>
        <nav>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>

            
            <li><a href="http:">Ofertas</a></li> 
            <li><a href="http:">Tiendas Oficiales</a></li>
            <li><a href="http:">Vender</a></li>
            <li><a href="http:">Ayuda</a></li>
                
        </nav>
        <nav>
            
            <li><a href="http:">Creá tu cuenta</a></li>
            <li><a href="http:">Ingresá</a></li>
            <li><a href="http:">Mis Compras</a></li>
            
        </nav>
    </header>

    <main>

        <section>
            <h3>Basado en tu múltima visita</h3>

            <picture>
                <img src="/img/img-cafetera-moulinex.jpg">
            </picture>
            
            <article>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
    
        </section>

        <section>
            <picture>
                <img src="/img/img-macbook-pro-2019.jpg">
            </picture>
            
            <article>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
        </section>

        <section>
            <picture>
                <img src="/img/img-samsung-galaxy-s10.jpg">
            </picture>
            
            <article>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
        </section>

        <section>
            <picture>
                <img src="/img/img-tv-samsung-smart.jpg">
            </picture>
            
            <article>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
    
        <section>
            <h3>Sección de Ofertas</h3>

            <picture>
                <img src="/img/img-cafetera-moulinex.jpg">
            </picture>
            
            <article>
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
    
        </section>

        <section>
            <picture>
                <img src="/img/img-macbook-pro-2019.jpg">
            </picture>
            
            <article>
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
        </section>

        <section>
            <picture>
                <img src="/img/img-samsung-galaxy-s10.jpg">
            </picture>
            
            <article>
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
        </section>

        <section>
            <picture>
                <img src="/img/img-tv-samsung-smart.jpg">
            </picture>
            
            <article>
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>

    </main>
    
    <br>

    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés</p> 
                <p>con tarjeta o efectivo en puntos de pago.</p> 
                <p>¡Y siempre es seguro!</p>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre 
                <p>tenés envíos gratis en miles de productos.</p> 
                <p>Es un beneficio de Mercado Puntos.</p>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre</p>
                <p>no hay nada que no puedas hacer</p> 
                <p>porque estás siempre protegid@.</p>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>

</body>
</html>