*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.titulares{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
    right: -5%;
}

.price{
    font-size: 2rem;
    margin: 1rem;
}

.des{
    font-size: 1.5rem;
    color: greenyellow;
    margin: 1rem;
    position: relative;
    top: 20%;
}

.product:hover{
    opacity: 1;
    transition-property:opacity;
}

.product{
    font-size: 1.8rem;
    position: relative;
    bottom: 0%;
    left: 7%;
    z-index: 1;
    opacity: 0;
}

body{
    background-color: #ebebeb;
    width: 100vw;
}

.separar{
    display: block;
    margin: 0.75rem;
}

.prueba1:hover{
    box-shadow: 0rem 0rem 0.625rem rgb(100, 100, 100);
    transition-property:box-shadow;
}


.prueba1{
    display: block;
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0.75rem;
    position: relative;
    right: -150%;

}


.imagen2{
    width: 100vw;
    border-top: 0.06rem;
    border-style: solid;
    border-color: #ebebeb;
    padding: 0.313rem 0rem 0rem 0.25rem;
}

.ban{
    width: 100vw;
}

.cont{
    padding: 0.8rem;
    position: relative;
    top: -5%;
}

.fa-truck{
    display: block;
    font-size: 1.5rem;
    padding: 0.6rem;
    width: 17vw;
    height: 6vh;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    right: -80%;
    top: -4%;
}

.camion{
    transform: rotateZ(0deg);
}



@keyframes animacion{
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-90deg);
    }
}   

.fa-truck:hover{
    animation-name: animacion;
    animation-duration: 1000ms;
}


.cont{
    padding: 1rem;
    display: flex;
}

main ul li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    bottom: 10%;
    right: 60%;
}


/*Fin Main*/