@import url("loginstyle.css");

p.menor{
    font-size: 1rem;
}

footer{
    background-color: white;
    text-align: center;
    width: 100vw;
    height: 55vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: relative;
    left: 2%;
    bottom: -25%;
}

.tamañoico{
    font-size: 2rem;
    margin-bottom: 0.6rem;
    color: #1259c3;
} 

.tamañoico:hover{
    color: #111;
    transition-property:color;
}