@import url("loginstyle.css");

nav ul li{
    display: none;
}

header{
    background-color: #EAC926;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    width: 100vw;
    height: 40vh;
}

.posi{
    position: relative;
    right: -20%;
}

.centrar{
  font-size: 1.2rem;
  position:relative;
  top: 15%;
  left: 1%;
}

#query{
    width: 60vw;
    height: 3vh;  
}

.movi{
    width: 9vw;
    height: 3vh;
    background-color: #fff;
    position: relative;
    left: -4%;
}



li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.imagen1{
    width: 55vw;
    margin: 5%;
}

.fondoburger{
    display: block;
    background-color: blue;
    width: 20vw;
    height: 7vh;
    border-radius: 20%;
    padding: 0.1rem 0.60rem 0.6rem 0.6rem;   
    position: absolute;
    bottom:64%;
    left: 40%;
    color: white;
    font-size: 3rem;
};